
/*Responsive for Small devices*/
@media screen  and (max-width: 576px) {
    .header-container {
        width: 100%;
        height: 350px;
        background-image: url('../images/banner/banner3\ -\ Copy.png');
        background-size: cover;
        background-repeat: no-repeat ;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .align-container {
        width: 80%;
        text-align: right;
    }

    .header-title {
        font-size: 20px;
        color: white;
        font-family: 'Dancing Script', cursive;
        font-family: 'Noto Sans', sans-serif;
    }

    .header-des-div {
        width: 100%;
        text-align: right;
    }

    .header-des {
        max-width: 200px;
        display: inline-block;
        color: white;
        padding: 10px 0;
        font-family: 'Ysabeau Infant', sans-serif;
        font-size: 10px;
        text-align: justify;
    }

    
    .header-btn {
        padding: 10px 20px;
        color: #1761A1;
        border: 0;
        border-radius: 5px;
        font-size: 10px;
        font-weight: 600;
        font-family: 'Dancing Script', cursive;
        font-family: 'Noto Sans', sans-serif;
    }


    /*Resposive styles for failure section*/

    .failure-container {
        max-width: 100%;
        margin-top: 100px;
    }

    .align-failure-container {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        gap: 80px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .img-failure {
        max-width: 300px;
    }

    .failure-title {
        font-size: 25px;
    }

    .failure-des {
        text-align: justify;
        font-size: 15px;
    }
    
    .failure-list li, .fa-solid{
        font-size: 13px;
    }
    .failure-list{
        margin-left: 20px;
    }

    /*plan section responsive*/

    .plan-container {
        margin-top: 150px;
    }
    .plan-header-title {
        font-size: 25px;  
    }

    .plan-skills-flex {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }

    .web-img {
        max-width: 65px;
    }

    .plan-title {
        padding: 8px;
        font-size: 20px;
    } 

    .title-p{
        font-size: 15px;
    }


    .picture-container {
        max-width: 100%;
        margin: 60px 0;
    
    }

    .picture-align-container {
        max-width: 90%;
        height: 150px;
        margin: 0 auto;
        background-image: url('../images/watch\ -\ Copy.png');
        background-size: cover;
        position: relative;
        border-radius: 10px;
    }

    .gradient-div {
        background-image: url('../images/gradient1\ -\ Copy.png');
    }

    .picture-title {
        font-size: 18px;
        }

    .picture-btn {
        padding: 8px 10px;
        font-size: 10px;
        cursor: pointer;
    }


    /*Footer section responsive*/
    .footer-container {
        max-width: 100%;
    }

    .footer-align-container {
        flex-direction: column;
        
    }

    .future-title {
        font-size: 25px;
    }
    
    .info .failure-des {
        padding: 4px 0;
        font-size: 15px;
    }

    .future-link-div {
        margin-top: 8px;
    }

    .social-media {
        padding: 5px;
        max-width: 30px;
    }

    .future-div {
        margin-bottom: 40px;
    }

    .subscribe-div {
        margin-top: 0;
    }

    .subscribe-title {
        font-size: 15px;
    }

    #email-input {
        width: 200px;
        padding: 8px 8px;
        font-size: 10px;
        caret-color: white /*input curser color*/
    }

    .subscribe-btn {
        padding: 8px 15px;
        font-size: 10px;
        }
}
/*Responsive for medium devices*/
@media screen and (min-width: 577px) and (max-width: 992px ) {
    
    .header-container {
        width: 100%;
        height: 500px;
        background-image: url('../images/banner/banner3\ -\ Copy.png');
        background-size: cover;
        background-repeat: no-repeat ;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .align-container {
        width: 80%;
        text-align: right;
    }

    .header-title {
        font-size: 35px;
    }

    .header-des-div {
        width: 100%;
        text-align: right;
    }

    .header-des {
        max-width: 300px;
        display: inline-block;
        color: white;
        padding: 10px 0;
        font-family: 'Ysabeau Infant', sans-serif;
        font-size: 15px;
        text-align: right;
    }

    
    .header-btn {
        padding: 13px 25px;
        font-size: 13px;
        }


        /*Failure section responsive*/
        .failure-container {
            max-width: 100%;
            margin-top: 100px;
        }
    
        .align-failure-container {
            max-width: 90%;
            display: flex;
            gap: 80px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
    
        .img-failure {
            max-width: 300px;
        }
    
        .failure-title {
            font-size: 30px;
        }
    
        .failure-des {
            text-align: justify;
            font-size: 16px;
        }
        
        .failure-list li, .fa-solid{
            font-size: 14px;
        }
        .failure-list{
            margin-left: 20px;
        }
    

        /*Plan section responsive*/

        .plan-container {
            margin-top: 150px;
        }
        .plan-header-title {
            font-size: 30px;  
        }
    
        .plan-skills-flex {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            justify-content: center;
        }
    
        .plan-title {
            padding: 8px;
            font-size: 20px;
        } 
    
        .title-p{
            font-size: 17px;
        }

        /*Picture section responsive*/

        .picture-align-container {
            max-width: 80%;
        }

        .picture-title-div {
            padding: 40px 30px;
        }

        .picture-title {
           font-size: 25px;
        }

        .picture-btn {
            padding: 10px 25px;
            font-size: 13px;
            cursor: pointer;
        }

        .footer-align-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15%;
            width: 80%;
        }

        .future-des {
            text-align: justify;
        }

        #email-input {
            width: 200px;
            padding: 10px 10px;
            font-size: 13px;
            caret-color: white /*input curser color*/
        }
    
        .subscribe-btn {
            padding: 10px 20px;
            font-size: 13px;
            }

    }